@charset "utf-8";
/* CSS Document */

.scroll_overlow {
    height: 44px;
	border-bottom:none;
}
.table42{
	padding-top:44px;
	padding-left:0px;
}
.table42 table{ background:url(images/bg_table42.jpg) center center no-repeat; height:886px;}

.table42_footer{ position:absolute; bottom:51px; width:100%; background:#e6d8be; height:41px}
































